     <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="/">{{main.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
              <form class="navbar-form" role="search"  ng-submit="main.search()">
                <span class="input-group">
                  <input type="text" class="form-control" placeholder="Search for..."  ng-model="main.searchInput">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                  </span>
                </span>
                <span class="btn-group" dropdown>
                  <span type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                    <span class="glyphicon glyphicon-sort"></span> Sort <span class="caret"></span>
                  </span>
                  <ul class="dropdown-menu filter-dropdown" role="menu">
                    <li ng-model="main.order"  ng-repeat="order in main.orders">
                      <span class="dropdown-option" opt="{{order.id}}" ng-click="main.sort($event)">{{order.title}}</span>
                    </li>
                  </ul>
                </span>
                <span class="btn-group">
                    <span class="btn btn-default glyphicon glyphicon-th" ng-class="{'btn-primary': main.layout == 'grid'}" ng-click="main.switchLayout()"></span>
                    <span class="btn btn-default glyphicon glyphicon-list" ng-class="{'btn-primary': main.layout == 'list'}" ng-click="main.switchLayout()"></span>
                </span>
              </form>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
